/* ------------------------------------------------------------ *\
	Hero Main
\* ------------------------------------------------------------ */

.hero-main {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba($c-black, .6);
		z-index: 1;
	}

	.hero__inner {
		min-height: 700px;
		position: relative;
		z-index: 2;
		padding: 40px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: $c-light;
	}
	
	.hero__head {
		position: relative;
		padding-left: 30px;
		padding-top: 10px;
	
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100px;
			height: 10px;
			background-color: $c-orange;
			border-radius: 99em;
		}
	
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 10px;
			height: 80%;
			background-color: $c-orange;
			border-radius: 99em;
		}
	}

	.hero__subtitle {
		padding-left: 40px;
		font-size: 22px;
	}

	.hero__pagination {
		position: absolute;
		text-align: left;
		bottom: 50px !important;
	}

	.hero__pagination .swiper-pagination-bullet {
		background: $c-white;
		width: 35px;
		height: 6px;
		border-radius: 99em;
		transition: width $t-duration;
		opacity: .5;
		position: relative;
	}

	.hero__pagination .swiper-pagination-bullet-active {
		width: 60px;
		opacity: 1;
	}
}