/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	max-width: 50px;
	display: flex;
	align-items: center;
}