/* ------------------------------------------------------------ *\
	nav
\* ------------------------------------------------------------ */

.nav {
	font-weight: 500;
	letter-spacing: 1px;

	ul {
		display: flex;
		gap: 10px;
	}
}