/* ------------------------------------------------------------ *\
	Section image content
\* ------------------------------------------------------------ */

.section-image-content {
    margin: 80px 0;

    .section__inner {
        display: flex;
        flex-wrap: wrap;
    }

    .section__image {
        width: 50%;
    }

    .section__content {
        width: 50%;
        padding-left: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}