/* ------------------------------------------------------------ *\
	Slider Main Content
\* ------------------------------------------------------------ */

.slider-main-content {
    position: relative;
    z-index: 2;
    h1 {
        text-shadow: 5px 5px 5px rgba($c-black, .5);
    }

    .slider__slide {
        position: relative;
    }

    .slider__slide-inner {
        min-height: 800px;
        position: relative;
    }

    .slider__slide-head {
        position: relative;
        padding-left: 30px;
        padding-top: 10px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100px;
            height: 10px;
            background-color: $c-orange;
            border-radius: 99em;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 10px;
            height: 80%;
            background-color: $c-orange;
            border-radius: 99em;
        }
    }

    .slider__slide-entity {
        padding-left: 40px;
    }

    .slider__slide-inner {
        min-height: 700px;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $c-light;
    }

    .slider__pagination {
        text-align: left;
        bottom: 50px !important;
    }

    .slider__pagination-bullet {
        background: $c-white;
        width: 35px;
        height: 6px;
        border-radius: 99em;
        transition: width $t-duration;
        opacity: .5;
    }

    .slider__pagination-bullet-active {
        width: 60px;
        opacity: 1;
    }
}